[Bb]in/
[Oo]bj/
.vs/
*.db
*.db-journal
*.db-shm
*.db-wal
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
build_*.txt
log.txt
out.txt
*.log
wwwroot/uploads/*
wwwroot/images/products/*
!wwwroot/images/products/.gitkeep
scratch/
[Oo]ut/
Balanza/
*.zip
*.exe
